/** Add css rules here for your application. */

body,
html {
margin:0;
padding:0;
}

#main {
  margin:0 auto;
}

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.tahoma11 {
  font-family:tahoma;
  font-size:11px;
  padding:2px;
}
.templateColor {
    color: #005;
    font-weight: bold;
}
.volumeColor {
    color: #00A;
    font-weight: bold;
}
.balanceColor {
    color: blue;
    font-weight: bold;
}
.listNone {
    list-style-type: none;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.wizardPanel {
    margin-left: auto;
    margin-right: auto;
}
